body {
    font-size: 10px;
}

ul {
    list-style: none;
}


ul > li { 
/* Will affect any li that is a direct descendant of a ul */
background-color: bisque;
}
/* This will apply to any descendant of that element type */
ul div {
    background-color: blue;
}

span > li {
    background-color: aquamarine;
}


div {
    background-color: green;
  }
  
  #former { 
   background-color: red;
  }
  /* This targets siblings */
  #former + div {
    background-color: yellow;
  }
